p{
    font-weight: bold;
}

span{
    font-weight: normal;
}

.row{
    margin-bottom: 20px;
}

/* .gameBox{
    align-items: left;
} */

.one {
    flex: 1;
    order: 1;
    border-radius: 0%;
    padding: 5px;
}

.two {
    flex: 1;
    order: 2;
    margin-top: 5%;
}

#output{
    padding: 15px;
    margin: 5px;
}
/* below is whats in castbox */
.weekBoxes {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

.box {
    justify-content: center;
    text-align: center;
    color: white;
    background-color: rgb(179, 0, 0, 0.719);
    border-radius: 25%;
    min-width: 100px;
    max-width: 150px;
    margin: 15px;
    padding: 2px;
    padding-top: 5px;
  }